
// color
$primary: #0064cb;
$primary2: #004ea2;
$white: #fff;
$black: #000;

$green: #23ac38;
$skyblue: #caeefa;






// $ink900:#101316;
// $ink800:#383b3e;
// $ink700:#565a60;
// $ink600:#676a70;
// $ink500:#8c8f94;
// $ink400:#a0a3a8;
// $ink300:#b8bcc0;
// $ink200:#d8dce0;
// $ink100:#eceef2;
// $ink50:#f2f5f8;
// $ink00:#fff;

// $p900:#052d7e;
// $p800:#0f3d9b;
// $p700:#164cbc;
// $p600:#2761d8;
// $p500:#3976f1;
// $p400:#6690fd;
// $p300:#9bb5fc;
// $p200:#becdf7;
// $p100:#d1daf4;
// $p50:#ebeffe;
// $p10:#f0f4ff;

// $g600:#414a55;
// $g500:#526070;
// $g400:#647689;
// $g300:#8096ad;
// $g200:#9eb6ce;
// $g100:#cbdef0;
// $g50:#e1ecf8;

// $bg:#f6f8fb;
// $red: #ff404e;
// $blue: #3976f1;
